@media (min-width: 769px) and (max-width: 1024px) {

    .products__item {
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 12px !important;
    }

    .card {

        &__info {
            &-header {
                width: 100% !important;
                flex-wrap: wrap;
            } 
        }
    }
}

@media (width: 1440px) {
    .card {

        &__info {
            &-header {
                width: 100% !important;
                flex-wrap: wrap;
            } 
        }
    }
}
